.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f4f3ee;
  min-height: 22em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.webHeader {
  background-color: #463f3a;
  height: 10em;
}

.myName {
  color: white;
  font-size: 75px;
  float: left;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 50%;
}

.contact {
  color: white;
}

.bg {
  position: absolute;
  margin-right: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  will-change: opacity;
  z-index: -0.99;
}

.imgSlide {
  width: 100%;
  height: 100%;
  transition: opacity .25s ease-in-out, -webkit-mask-image .25s ease-in-out, transform 2s ease-in-out;
}

.imgSlide:hover {
  opacity: 0.8;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
}

.onHover {
  color: white;
}

.projectList {
  color: white;
  background-color: #8a817c;
  /* width: 75%; */
  margin-top: 55%;
}

.leftPic {
  float: left;
  margin: 10px;
  height: 40%;
  width: 40%;
}

.rightPic {
  float: right;
  height: 40%;
  width: 40%;
}

.projectObject {
  margin: 100px;
}

.divBar {
  height: 40px;
  width: 100%;
  background-color: #222;
}